html, body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    background-color: #837171;
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}


nav#menu {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.1);
    padding: 0.5rem 2rem 0 2rem;
    box-sizing: border-box;
    color: #f3f3f3;
}

    nav#menu ul {
        float: left;
    }

        nav#menu ul li {
            float: left;
            height: 3rem;
            line-height: 3rem;
            padding-left: 1rem;
            padding-right: 1rem;
            border-top-right-radius: 10px;
            min-width: 10rem;
            text-align: center;
            cursor: pointer;
            box-sizing: border-box;
            background-color: gray;
        }

            nav#menu ul li.tab[data-active="yes"] {
                font-weight: bold;
            }

            nav#menu ul li:hover {
                font-weight: bold;
            }

#tab_add,
#tasks_add {
    font-size: 45px;
    border: none;
    border-radius: 5px;
    font-size: 45px;
    cursor: pointer;
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
}

#tab_add {
    margin: 0.5rem;
}

    #tab_add:hover,
    #tasks_add:hover {
        background-color: #204d74;
        border-color: #122b40;
    }




section#content {
    overflow: auto;
    margin: 0 2rem 0 2rem;
    min-height: calc(100% - 4rem);
}

.list {
    float: left;
    width: 33.3%;
    box-sizing: border-box;
    padding: 2rem;
}

#list_todo {
    padding-right: 1rem;
}

#list_current {
    padding-left: 1rem;
    padding-right: 1rem;
}

#list_done {
    padding-left: 1rem;
}

.list > .list_content {
    background-color: #E2E4E6;
    height: 100%;
    padding: 2rem;
    color: #585858;
}

    .list > .list_content h3 {
        margin-bottom: 1rem;
    }

.tasks {
    min-height: 2rem;
}

    .tasks li {
        padding: 1rem;
        margin-bottom: 0.5rem;
        background-color: #FFFFFF;
        cursor: pointer;
    }

        .tasks li:hover {
            font-weight: bold;
        }


.popup {
    display: none;
    position: fixed;
    width: 300px;
    left: calc(50% - 150px);
    top: calc(50% - 92px);
    background-color: white;
    padding: 2rem;
    text-align: center;
    z-index: 11111;
}

    .popup input {
        padding: 5px;
        border-radius: 3px;
        border: 1px solid #084162;
        width: 100%;
        margin: 1rem 0 1rem 0;
        box-sizing: border-box;
    }

    .popup button {
        display: block;
        padding: 8px;
        border-radius: 3px;
        border: 1px solid #084162;
        background-color: #1080e0;
        color: white;
        cursor: pointer;
        width: 45%;
    }

        .popup button.save {
            float: left;
        }

        .popup button.delete {
            background-color: #6f1414;
            float: right;
        }

        .popup button:hover {
            font-weight: bold;
        }

    .popup .exit {
        position: absolute;
        top: 1rem;
        cursor: pointer;
        right: 1rem;
    }


button.delete {
    display: none;
}

#shadow {
    display: none;
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
